@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
.power, .controls .powerOn, .controls .powerOff {
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 40px;
}

.font, .App h1, .drum-pad, .controls p {
  font-family: "Do Hyeon", sans-serif;
  font-size: 20px;
  color: black;
}

body {
  background: #b3b3b3;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  margin: 0;
}

.App h1 {
  font-size: 40px;
  margin-bottom: 40px;
  text-shadow: 2px 2px white;
}

.drumMachine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 800px;
  outline: thick ridge #cc6699;
  background: #f2f2f2;
}

.pad-container {
  margin: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  grid-gap: 10px;
}

.drum-pad {
  height: 54px;
  width: 90px;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 0;
  text-align: center;
  padding-top: 36px;
  cursor: pointer;
  background: #cc6699;
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #b3b3b3;
  margin: 20px;
  width: 290px;
  height: 290px;
}

.controls p {
  margin: 0;
}

.controls #power {
  margin-right: 5px;
}

.controls .powerLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.controls .powerOn {
  background-color: green;
}

.controls .powerOff {
  background-color: red;
}

.controls .volume {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.controls .volumeIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-top: 10px;
}

.controls .volumeIcons #box {
  width: 35px;
  height: 35px;
  text-align: center;
}

.controls .volumeIcons #volup,
.controls .volumeIcons #voldown,
.controls .volumeIcons #volmute {
  font-size: 25px;
  cursor: pointer;
}

.controls .volumeIcons #volup:active,
.controls .volumeIcons #voldown:active,
.controls .volumeIcons #volmute:active {
  font-size: 30px;
}

.controls .display {
  width: 100px;
  height: 20px;
  background: #f2f2f2;
  padding: 10px;
  outline: thick ridge #cc6699;
  margin-bottom: 20px;
}
/*# sourceMappingURL=App.css.map */