@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");

$padcolor: #cc6699;

@mixin display-style($dir) {
  display: flex;
  flex-direction: $dir;
  align-items: center;
}
.power {
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 40px;
}
.font {
  font-family: "Do Hyeon", sans-serif;
  font-size: 20px;
  color: black;
}
body {
  background: #b3b3b3;
}
.App {
  @include display-style(column);
  height: 100vh;
  margin: 0;
  & h1 {
    @extend .font;
    font-size: 40px;
    margin-bottom: 40px;

    text-shadow: 2px 2px white;
  }
}

.drumMachine {
  @include display-style(row);
  justify-content: space-between;
  width: 800px;
  outline: thick ridge $padcolor;
  background: #f2f2f2;
}

.pad-container {
  margin: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
}
.drum-pad {
  height: 54px;
  width: 90px;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 0;
  text-align: center;
  padding-top: 36px;
  cursor: pointer;
  background: $padcolor;
  @extend .font;
}
.controls {
  @include display-style(column);
  justify-content: space-between;
  background: #b3b3b3;
  margin: 20px;
  width: 290px;
  height: 290px;
  & p {
    @extend .font;
    margin: 0;
  }
  #power {
    margin-right: 5px;
  }
  .powerLine {
    @include display-style(row);
    align-self: flex-end;
  }
  .powerOn {
    @extend .power;
    background-color: green;
  }
  .powerOff {
    @extend .power;
    background-color: red;
  }
  .volume {
    width: 70%;
    @include display-style(column);
  }
  .volumeIcons {
    @include display-style(row);
    justify-content: space-between;
    width: 100%;
    padding-top: 10px;
    #box {
      width: 35px;
      height: 35px;
      text-align: center;
    }
    #volup,
    #voldown,
    #volmute {
      font-size: 25px;
      cursor: pointer;

      &:active {
        font-size: 30px;
      }
    }
  }
  .display {
    width: 100px;
    height: 20px;
    background: #f2f2f2;
    padding: 10px;
    outline: thick ridge $padcolor;
    margin-bottom: 20px;
  }
}
